* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width: 600px;
    height: 500px;
    background-color: #fff;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    
}
.container {
    width: 500px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.cricle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(218, 191, 191);
    border-radius: 50%;
    color: rgb(218, 191, 191);
}
.cricle:hover{
    box-shadow: 0 0 1px 10px rgba(0,0, 0, .3);
    cursor: pointer;
}

.paragraf {
    color: rgb(199, 194, 192);
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.price_sped {
    font-size: 20px;
    color: rgb(90, 95, 95);
}
.img{
    position: relative;
}
.image {
    width: 100%;
    position: absolute;

}
